stages:
  - install
  - build
  - deploy

install:
  stage: install
  script: yarn
  after_script: 
    - killall node
  artifacts:
    paths:
      - node_modules

build:
  stage: build
  before_script:
    - sh /root/createImageFolder.bash
  script:
    - yarn build
  artifacts:
    paths:
      - build
  only:
    - development

deploy:
  stage: deploy
  script:
    - screen -S 3358.pts-0.h296537 -p 0 -X stuff "^C"
    - screen -S 3358.pts-0.h296537 -p 0 -X stuff "node build/index.js^M"
  only:
    - development
